.hidden {
  display:none !important;
}
#content > .aui-page-header {
  padding: 0 0 20px 0;
}
.aui-navgroup-horizontal + .aui-page-panel {
  border-top: 0;
  margin-top: 0;
}
.aui-navgroup-horizontal {
  background-color: transparent;
}
.tabs-pane {
  overflow-x:hidden;
}
.ap3-vid-container {
  text-align:center;
  margin:40px auto;
}
.ap3-vid-container h1 {
  font-size:3em;
  margin-bottom: 20px;
}
.ap3-vid {
}